body {
    background: url("images/Covid-3.jpg") center;
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    overflow-x: hidden;
    padding-bottom: 50px;
    color: #fff;
    margin-top: 40px;
  }

/* styling for navigation bar, menu items */
#navbar{
  width: 100%;
  left: 0;
  top:0;
  background-color: transparent;
}

#navbar ul {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  /* navigation bar content - individual items - li */
  #navbar ul li {
    list-style: none;
  }
  /* navigation bar content - link text styling inside li - a */
  #navbar ul li a {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 0.875em;
    text-decoration: none;
    padding: 1em;
    white-space: nowrap;
    letter-spacing: 1px;
  }
  /* navigation bar content - link text styling inside
  li - a with hover selector */
  #navbar ul li a:hover {
    border-bottom: 3px solid #fff;
  }

/* Intro to the timeline */
.intro {
  padding: 100px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

/* Styling the timeline */
.timeline ul {
  list-style: none;
  padding: 50px 0;
}

.timeline ul li {
  display: block;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F45B69;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  left: -439px;
  transform: translate3d(-200px, 0, 0);
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.timeline ul li div 
{
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}